# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ejecutables
bin/*

# archivos temporales de gedit
*.cpp~
*.tex~
Makefile~
.gitignore~

# auxiliares de tex
tex/*.aux
tex/*.log
tex/*.toc
tex/*.backup
tex/informe.synctex.gz
tex/problema*/*.tex.backup
tex/problema*/*.log
*-eps-converted-to.pdf