# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ejecutables
bin/*

# auxiliares de tex
tex/*.aux
tex/*.log
tex/*.toc

# Sublime-text (emo)
algo3-tp1.sublime-project
algo3-tp1.sublime-workspace