# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ejecutables
bin/*

# archivos temporales de gedit
*.cpp~
*.tex~

# auxiliares de tex
tex/*.aux
tex/*.log
tex/*.toc